.bannerShop{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
    background-color: beige
}

.imagenBanner{
    filter: brightness(50%);
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    z-index: -100;
    left: 0;
    top: 0;
}

.bannerShop, .tituloShop{
    font-weight: 700px;
    z-index: 10;
    color: rgb(126, 118, 231);
    
}

.card-producto {
  max-width: 100%;
  height: auto;
  transition: transform 0.3s ease;
}

.card-producto:hover {
  transform: scale(1.05);
}

.card-producto {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.card-producto img {
  object-fit: cover;
  height: 270px; /* o ajustalo según tu preferencia */
  width: 100%;
}

.card-producto .contenido {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.input-icono {
  position: relative;
}

.input-icono input {
  padding-left: 2.2rem;
}

.input-icono .icono {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  color: #6c757d;
}